{% load gcms_forms %}
{% for field in form %}
  <div class="mb-3{% if field|is_checkbox %} form-check{% endif %}">
    {% if field|is_checkbox %}
      {{ field }}
      <label for="{{ field.id_for_label }}" class="form-check-label fw-bold">{{ field.label }}</label>
    {% else %}
      <label for="{{ field.id_for_label }}" class="form-label fw-bold">{{ field.label }}</label>
      {{ field }}
    {% endif %}
    {% if field.help_text %}<div class="form-text">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}<div class="invalid-feedback d-block">{{ field.errors.0 }}</div>{% endif %}
  </div>
{% endfor %}
